<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="clientIP" value="192.168.4.56"/>
		<add key="clientPort" value="6000"/>
		<add key="gameTimer" value="10"/>
		<add key="serverIp" value="192.168.4.52"/>
		<add key="serverPort" value="6000"/>
	</appSettings>
</configuration>