<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="clientIP" value="10.144.107.94"/>
		<add key="clientPort" value="6000"/>
		<add key="gameTimer" value="10"/>
		<add key="serverIp" value="10.144.10.43"/>
		<add key="serverPort" value="6000"/>
	</appSettings>
</configuration>